.tabs-nav {
  display: flex;

  
}

.tabs-nav__button {
  width: 50%;

  color: gray;


  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  opacity: 0.5;

  &:first-child {
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
  }

  &--active {
    color: #ffffff;

    background-color: #007DE1;
    opacity: 1;
  }
}

.tabs-nav__title {
  margin: 10px 0;

  font-size: 22px;
}

.tabs-nav__text {
  margin: 10px 0;

  font-size: 22px;
}

.tabs-nav__term {
  font-size: 14px;
}