@keyframes ldio-rvdvi1aeci {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-rvdvi1aeci div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #888888;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-rvdvi1aeci div {
  animation: ldio-rvdvi1aeci 1.2195121951219512s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-bp3fxirj8av {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-rvdvi1aeci {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rvdvi1aeci div { 
  box-sizing: content-box;
}